@using Paub2022_Vjezba.Models
@model StudentiDB
@{
    ViewBag.Title = "Popis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis</h2>
<table border="1">

    <tr>
        <th>ID</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Oib</th>
        <th>Detalji</th>
        <th>Redovan</th>
        <th>Ažuriranje</th>
    </tr>

    @foreach (var student in Model.VratiListu())
    {
<tr>
    <th>@student.ID</th>
    <th>@student.Ime</th>
    <th>@student.Prezime</th>
    <th>@student.Oib</th>
    <th>@Html.ActionLink("Info", "Detalji", new { ID = student.ID })</th>
    <td>@Html.CheckBox("CheckBox", student.RedovanStudent)</td>
    <td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { ID = student.ID })</td>
</tr>

    }


</table>

